.content {
  display: flex;
  background-color: aliceblue;
}

h3 {
  margin: 20px 0 20px 0;
}

.report-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active-moa-container {
  width: 100%;
}

.expired-moa-container {
  width: 100%;
}

.faculty-container {
  width: 100%;
}

.filter-container {
  display: flex;
}

.generate {
  margin-top: 15px;
}
