<section class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
    <h4>Extension Program Title</h4>

    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Details</th>
          <th scope="col">Prgoram Lead</th>
          <th scope="col">Program Flow</th>
          <th scope="col">Additional Details</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Philippine Arena</td>
          <td>Mark</td>
          <td>BSU</td>
          <td>@mdo</td>
          <td>@fat</td>
          <td>
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Program Members</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>BSU</td>
          <td>
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Program Partners</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>FEU</td>
          <td>
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Participants</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alumni</td>
          <td>
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Files</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="form-control" type="file" id="formFile">
          </td>
          <td>
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control" type="file" id="formFile">
          </td>
          <td>
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control" type="file" id="formFile">
          </td>
          <td>
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


</section>
