<section class="content" *ngIf="!loading && loggedIn">
  <app-side-nav></app-side-nav>
  <div class="container" *ngIf="isAdmin">
    <div class="container1">
      <input
        type="search"
        name="search"
        id="search"
        [(ngModel)]="searchValue"
        (input)="onSearchInputChange()"
      />
      <button (click)="search()">Search</button>

      <label for="leaderId">Program Lead</label>
      <select
        class="form-control"
        id="leaderId"
        name="leaderId"
        [(ngModel)]="leaderValue"
        requred
      >
        <option [ngValue]="null" [disabled]="true">
          Select Program Leader
        </option>
        <option *ngFor="let leader of leaderChoices" value="{{ leader.id }}">
          {{ leader.name }}
        </option>
      </select>
      <button id="leaderFilter" name="leaderFilter" (click)="filterByLeader()">
        Filter By Leader
      </button>

      <h5>All Programs</h5>
      <div class="con">
        <button class="btn btn-primary" routerLink="/create-program">
          Add Program
        </button>
      </div>
      <div class="card-container">
        <div class="card" *ngFor="let program of programs">
          <div class="card-body">
            <div class="img-container">
              <img src="#" alt="image" />
            </div>
            <div>
              <label class="title">{{ program.title }}</label>
            </div>
            <div>
              <div class="butcon">
                <button
                  class="btn btn-primary"
                  routerLink="/dashboard/program/{{ program.id }}"
                >
                  View
                </button>
                <button
                  class="btn btn-primary"
                  routerLink="/dashboard/program/edit/{{ program.id }}"
                >
                  Edit
                </button>

                <button
                  class="btn btn-primary"
                  (click)="deleteProgram(program.id)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container3" *ngIf="loggedIn ? (isAdmin ? true : false) : false">
      <div class="card-container">
        <div class="card-body">
          <div class="chart" [chart]="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="botcon1">
    <div class="container4" *ngIf="loggedIn ? (isAdmin ? true : false) : false">
      <h5>Faculty and Partners Members Summary</h5>
      <div class="card-container">
        <div class="card-body">
          <div class="card2">
            <p>Sample Partner</p>
            <p>Sample Faculty</p>
            <p class="red">30days</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- faculty dashboard -->
  <div class="container" *ngIf="!isAdmin && !loading">
    <h5>Programs you lead</h5>
    <div class="card-container">
      <div class="card" *ngFor="let program of leadPrograms">
        <div class="card-body">
          <div class="img-container">
            <img src="#" alt="image" />
          </div>
          <div>
            <label class="title">{{ program.title }}</label>
          </div>
          <div>
            <button
              class="btn btn-primary"
              routerLink="/dashboard/program/{{ program.id }}"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h5>Programs you are member of</h5>
    </div>
    <div class="card-container">
      <div class="card" *ngFor="let program of memberPrograms">
        <div class="card-body">
          <div class="img-container">
            <img src="#" alt="image" />
          </div>
          <div>
            <label class="title">{{ program.title }}</label>
          </div>
          <div>
            <button
              class="btn btn-primary"
              routerLink="/dashboard/program/{{ program.id }}"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
