<section class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
    <h5>Assigned Programs</h5>

    <div class="card-container" *ngFor="let program of programs">
      <div class="card">
        <div class="card-body">
          <div class="img-container">
            <img src="#" alt="image" />
          </div>
          <div>
            <label class="title">{{ program.title }}</label>
          </div>
          <div>
            <button
              class="btn btn-primary"
              routerLink="/dashboard/program/{{ program.id }}"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
