
<div class="home-container">
  <div class="flex-container">
    <section class="content">
      <h5>Assigned Programs</h5>

      <div class="card-container">
        <div class="card">
          <div class="card-body">
            <div class="img-container">
              <img src="#" alt="image">
            </div>
            <div>
              <label class="title">Extension Program 1</label>
            </div>
            <div>
              <button class="btn btn-primary">View</button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="img-container">
              <img src="#" alt="image">
            </div>
            <div>
              <label class="title">Extension Program 1</label>
            </div>
            <div>
              <button class="btn btn-primary">View</button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="img-container">
              <img src="#" alt="image">
            </div>
            <div>
              <label class="title">Extension Program 1</label>
            </div>
            <div>
              <button class="btn btn-primary">View</button>
            </div>
          </div>
        </div>
      </div>

      <h5>Related Programs</h5>

      <div class="card-container">
        <div class="card">
          <div class="card-body">
            <div class="img-container">
              <img src="#" alt="image">
            </div>
            <div>
              <label class="title">Extension Program 1</label>
            </div>
            <div>
              <button class="btn btn-primary">View</button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="img-container">
              <img src="#" alt="image">
            </div>
            <div>
              <label class="title">Extension Program 1</label>
            </div>
            <div>
              <button class="btn btn-primary">View</button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="img-container">
              <img src="#" alt="image">
            </div>
            <div>
              <label class="title">Extension Program 1</label>
            </div>
            <div>
              <button class="btn btn-primary">View</button>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
