.content {
    display: flex;
    background-color: rgb(246, 244, 244);
    height: 100vh;
  
  }
  .container{
    display: flex;
    align-items: space-between;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 50px;
    padding: 10px;
  }
  label{
    justify-content: flex-start;
  }