.content {
  display: flex;
  background-color: rgb(207, 207, 207);
}

.container {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px #939393;
  padding: 70px 100px 70px;

}

.profile-container {
  display: flex;
  justify-content: center;
}

.profile {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.circular-image {
  display: block;
  width: 100px; /* adjust as needed */
  height: 100px; /* adjust as needed */
  object-fit: cover;
  border-radius: 50%;
}
.btn{
  margin-right: 150px;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 30px;
 }
 
 button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 button:hover span {
  padding-right: 15px;
 }
 
 button:hover span:after {
  opacity: 1;
  right: 0;
 }
form{
  position: relative;

}

form input{
  width: 100%;
  padding: 15px 15px 7px;
}
form label#name{
  position: absolute;
  left: 65px;
  top: 143px;
  font-size: 12px;
  color: black;
}
form label#email{
  position: absolute;
  left: 62px;
  top: 215px;
  font-size: 12px;
  color: black;
}
form label#college{
  position: absolute;
  left: 69px;
  top: 285px;
  font-size: 12px;
  color: black;
}
form label#department{
  position: absolute;
  left: 80px;
  top: 357px;
  font-size: 12px;
  color: black;
}
form label#birthday{
  position: absolute;
  left: 70px;
  top: 430px;
  font-size: 12px;
  color: black;
}

form input:focus{
  border: 2px solid blueviolet;
}

form input:focus ~ label{
  top: 6px;
}
.form-group{
  margin-left: 100px;
}
