<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
<form #fileForm="ngForm" (ngSubmit)="addFile()">
  <div class="form-group">
    <label for="file">Program File</label>
    <input
      type="file"
      id="file"
      name="file"
      [(ngModel)]="form.file"
      required
      (change)="onFileChange($event)"
    />
  </div>
  <div class="button-container">
    <button type="submit" class="learn-more">Submit</button>
  </div>
  <div class="button-container">
    <a
    class="learn-more"
      (click)="cancelStep()"
    >
      Next Step
    </a>
  </div>
  <div class="button-container">
    <a class="learn-more" (click)="home()" >
      Home
    </a>
  </div>
  <div class="button-container" *ngIf="router.url.includes('dashboard')">
    <a (click)="goBack()" class="learn-more">Back</a>
  </div>
</form>
  </div>
</div>
