<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
<form #fileForm="ngForm" (ngSubmit)="addFile()">
  <div class="form-group">
    <label for="file">Program File</label>
    <input
      type="file"
      id="file"
      name="file"
      [(ngModel)]="form.file"
      required
      (change)="onFileChange($event)"
    />
  </div>
  <div class="button-container">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div class="button-container">
    <a
      class="btn btn-secondary"
      (click)="cancelStep()"
      class="btn btn-secondary"
    >
      Next Step
    </a>
  </div>
  <div class="button-container">
    <a class="btn btn-secondary" (click)="home()" class="btn btn-secondary">
      Home
    </a>
  </div>
  <div class="button-container" *ngIf="router.url.includes('dashboard')">
    <a (click)="goBack()" class="btn btn-danger">Back</a>
  </div>
</form>
  </div>
</div>
