.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
}

ul {
  padding: 0px;
  list-style-type: none;
  width: 100%;
}

ul a {
  display: flex;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 3px;
  width: 100%;
  height: 40px;
}

.icon-container:hover {
  background-color: #441020;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.profile-container {
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 30px;
  width: 50px;
  height: 50px;
}
