.side-nav {
  width: 300px;
  min-width: 230px;
  min-height: calc(100vh - 70px);
  background-color: #113c60;
  color: #fff;
  height: 100vh;
  box-shadow: 5px 5px 5px #939393;
  @media only screen and (max-width: 1300px;){
    width: 100px;
    min-width: 100px;
  }
}
.nav-items{
  padding-top: 40px;
}
.nav-item{
  padding: 25px 50px;
  cursor: pointer;
  @media only screen and (max-width: 1300px;){
    padding: 25px 40px;
  }
}
.nav-item:hover{
  background-color: rgb(1, 38, 69);
  color: white;
}
.nav-item a:hover{
  color: white;
}
fa-icon{
  margin-right: 20px;
  font-size: 22px;
}
span{
  display: inline;
  @media only screen and (max-width: 1300px){
    display: none;
  }
}

hr{
  color: rgb(85, 139, 209);
 border-width: 5px;
 border-radius: 4px;
  height: 20px;
  width: 200px;
  display: flex;
  margin-top: 40px;
}
ul {
  padding: 0px;
  list-style-type: none;
  width: 100%;
}

ul a {
  display: flex;
  color: blue;
  text-decoration: none;
}
span{
  margin-left: 10px;
}

.icon-container{
  display: flex;
  margin: 1px;
  margin-left: 20px;
  padding: 5px;
  width: 100%;
  height: 40px;
}

.icon-container:hover {
  background-color: #7da5f6;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  color: aliceblue;
  padding-left: 10px;
  width: 13vw;
}
.icon-container:active {
  background-color: #7da5f6;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  color: aliceblue;
  padding-left: 10px;
  width: 13vw;
}

.profile-container {
  border: 4px solid rgb(118, 169, 237);
  border-radius: 100%;
  margin-top: 30px;
  width: 60px;
  height: 60px;
}
