<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
    <h3>Create Extenstion Program</h3>

    <form>
      <div class="form-group">
        <label for="extension-program-title">Extension Program Title</label>
        <input type="text" class="form-control" id="extension-program-title"
          placeholder="Enter Extension Program Title">
      </div>
      <br>
      <div class="date-container">
        <div class="form-group">
          <label for="start-date">Start Date</label>
          <input type="date" class="form-control" id="start-date">
        </div>
        <div class="form-group">
          <label for="end-date">End Date</label>
          <input type="date" class="form-control" id="end-date">
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="place">Place</label>
        <input type="text" class="form-control" id="place" placeholder="Place">
      </div>
      <br>
      <div class="form-group">
        <label for="program-details">Program Details</label>
        <textarea class="form-control" id="program-details" rows="3"></textarea>
      </div>
      <br>
      <div class="form-group">
        <label for="program-lead">Program Lead</label>
        <select class="form-control" id="program-lead">
          <option>CICT Dean</option>
          <option>CIT Dean</option>
          <option>Director</option>
          <option>Student Council</option>
          <option>Bulsu Organization</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="program-flow">Program Flow</label>
        <input type="text" class="form-control" id="program-flow" placeholder="Program Flow">
      </div>
      <br>
      <div class="form-group">
        <label for="additional-program-details">Additional Program Details</label>
        <textarea class="form-control" id="additional-program-details" rows="3"></textarea>
      </div>
      <br>
      <div class="button-container">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
