<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
    <h5><b>Create Extenstion Program</b></h5>

    <form #programForm="ngForm" (ngSubmit)="createProgram()">
      <div class="form-group">
        <label for="title" id="title">Extension Program Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Enter Extension Program Title"
          [(ngModel)]="form.title"
          required
        />
      </div>
      <br />
      <div class="date-container">
        <div class="form-group">
          <label for="startDate" id="start">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="startDate"
            name="startDate"
            [(ngModel)]="form.startDate"
            required
          />
        </div>
        <div class="form-group">
          <label for="endDate" id="end">End Date</label>
          <input
            type="date"
            class="form-control"
            id="endDate"
            name="endDate"
            [(ngModel)]="form.endDate"
            [min]="form.startDate"
            required
            (ngModelChange)="validateDates()"
          />
        </div>
      </div>
      <br />
      <div class="form-group">
        <label for="place" id="place">Place</label>
        <input
          type="text"
          class="form-control"
          id="place"
          name="place"
          placeholder="Place"
          [(ngModel)]="form.place"
          required
        />
      </div>
      <div class="form-group">
        <label for="leaderId" id="lead">Program Lead</label>
        <select
          class="form-control"
          id="leaderId"
          name="leaderId"
          [(ngModel)]="form.leaderId"
          requred
        >
          <option [ngValue]="null" [disabled]="true">
            Select Program Leader
          </option>
          <option *ngFor="let leader of leaderChoices" value="{{ leader.id }}">
            {{ leader.name }}
          </option>
        </select>
      </div>
      <br />
      <div class="form-group">
        <label for="additionalDetail" id="details"
          >Additional Program Details</label
        >
        <textarea
          class="form-control"
          id="additionalDetail"
          name="additionalDetail"
          rows="3"
          [(ngModel)]="form.additionalDetail"
          required
        ></textarea>
      </div>
      <br />
      <div class="button-container">
        <button type="submit" class="btn-create">Create</button>
      </div>
    </form>
  </div>
</div>
