.container {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 5px 5px 5px #939393;
  padding: 20px;
  height: 85vh;
}
.con{
  background-color: white;
}
button{
  display: inline-flex;
  margin-right: 10px;
}
