<div class="content">
  <app-side-nav></app-side-nav>
<div class="container d-flex flex-column">
  <div class="card">
    <div class="card-header">
      <br />
      <h2 class="pt-2">Update User Password</h2>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <form #userForm="ngForm" (ngSubmit)="updateUserPassword()">
          <div class="row">
            <div class="mb-3">
              <label for="password" class="form-label" id="pass">New Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="form.password"
                required
              />
            </div>
            <div class="col mb-3">
              <label for="cpassword" class="form-label" id="cpass">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="password_confirmation"
                name="password"
                [(ngModel)]="form.password_confirmation"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.password"
            >
              {{ error.password }}
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!userForm.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
