.content {
    display: flex;
    background-color: rgb(246, 244, 244);
    height: 100vh;
  
  }
.container{
    background-color: aliceblue;
    padding: 20px 10px 10px;
    border-radius: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
}
.card{
    width: 50vw;
    border-radius: 20px;
}
form{
    position: relative;

}

form input{
    width: 100%;
    padding: 15px 15px 7px;
}
form label#pass{
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 12px;
    color: black;
 }
form label#cpass{
    position: absolute;
    left: 15px;
    top: 68px;
    font-size: 12px;
    color: black;
 }


 form input:focus{
    border: 2px solid blueviolet;
 }

 form input:focus ~ label{
    top: 6px;
 }