<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
<form #memberForm="ngForm" (ngSubmit)="addMember()">
  <div class="form-group" *ngFor="let member of members; let i = index">
    <label for="leaderId">Program Member</label>
    <select
      class="form-control"
      id="memberId"
      name="memberId"
      [(ngModel)]="member.memberId"
      requred
    >
      <option [ngValue]="null" [disabled]="true">Select Program Member</option>
      <option *ngFor="let member of memberChoices" value="{{ member.id }}">
        {{ member.name }}
      </option>
    </select>
    <button type="button" (click)="removeUser(i)" *ngIf="i > 0">Remove</button>
  </div>
  <button type="button" (click)="addUser()">Add Item</button>
  <div class="button-container">
    <button type="submit" class="btn btn-primary">Add Member</button>
  </div>
  <div class="button-container">
    <a
      class="btn btn-secondary"
      (click)="cancelStep()"
      class="btn btn-secondary"
    >
      Next Step
    </a>
  </div>
  <div class="button-container">
    <a class="btn btn-secondary" (click)="home()" class="btn btn-secondary">
      Home
    </a>
  </div>
  <div class="button-container" *ngIf="router.url.includes('dashboard')">
    <a (click)="goBack()" class="btn btn-danger">Back</a>
  </div>
</form>
  </div>
</div>
