<section class="content">
  <app-side-nav></app-side-nav>
  <div class="container" *ngFor="let program of programs">
    <button>HELLO</button>
    <h4 id="title">{{ program.title }}</h4>

    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Prgoram Lead</th>
          <th scope="col">Program Flow</th>
          <th scope="col">Additional Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ program.place }}</td>
          <td>{{ programLeader }}</td>
          <td>{{ program.flow }}</td>
          <td>{{ program.additionalDetail }}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" routerLink="add-member" *ngIf="isAdmin">
      Add Member
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Program Members</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of programMembers">
          <td>{{ member.name }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteMember(program.id, member.id)"
              *ngIf="isAdmin"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-success"
      routerLink="add-partner"
      *ngIf="isAdmin"
    >
      Add Partner
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Program Partners</th>
          <th scope="col">Address</th>
          <th scope="col">Contact Person</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Moa File</th>
          <th scope="col">Start of partnership</th>
          <th scope="col">End of partnership</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of programPartners; let i = index">
          <td>{{ partner.name }}</td>
          <td>{{ partner.address }}</td>
          <td>{{ partner.contactPerson }}</td>
          <td>{{ partner.contactNumber }}</td>
          <td>
            <a (click)="partnerMoa(i)" [href]="moaFile" target="_blank">{{
              partner.MoaFile
            }}</a>
          </td>
          <td>{{ partner.startPartnership }}</td>
          <td>{{ partner.endPartnership }}</td>

          <td>
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/dashboard/program/{{ partner.id }}/manage-partners"
              *ngIf="isAdmin"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deletePartner(partner.id)"
              *ngIf="isAdmin"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-success"
      routerLink="add-participant"
      *ngIf="isAdmin"
    >
      Add Participant
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Participants</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of programParticipants">
          <td>{{ participant.name }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/dashboard/program/{{
                participant.id
              }}/edit-participant"
              *ngIf="isAdmin"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteParticipant(participant.id)"
              *ngIf="isAdmin"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-success"
      routerLink="add-file"
      *ngIf="isAdmin"
    >
      Add File
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">File Names</th>
          <th scope="col">Files</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of programFiles; let i = index">
          <td>
            <p>{{ file.title }}</p>
          </td>
          <td>
            <a (click)="programFilelink(i)" [href]="fileUrl" target="_blank">{{
              file.file
            }}</a>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/dashboard/program/{{ file.id }}/edit-file"
              *ngIf="isAdmin"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteFile(file.id)"
              *ngIf="isAdmin"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
