<div class="container">
  <div class="con">
<div class="card" >
  <div class="card-header">Announcements</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Moa File</th>
          <th scope="col">Start of Partnership</th>
          <th scope="col">End of Partnership</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exmoa of exmoas">
          <td>{{ exmoa.name }}</td>
          <td>{{ exmoa.MoaFile }}</td>
          <td>{{ exmoa.startPartnership }}</td>
          <td>{{ exmoa.endPartnership }}</td>
          <td>
            <button
              class="btn btn-primary"
              routerLink="/partner/renew/{{ exmoa.id }}"
            >
              Renew
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
