<div class="container1 d-flex align-items-end flex-column">
  <div class="card">
    <div class="card-header">
      <br />
      <img src="../../../assets/images/CICT-BSU-LOGO.png" style="width:40%; height:auto; max-width:300px;"/>
      <br />
      <br />
      <h3 id="system-title"> <b>Extension Office Management</b></h3>
      <h3 id="college" style="margin-top: -5px !important;"> <b>College of Information and <br>Communications Technology </b></h3>
      <br />
      <br />
    </div>
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
   
        <div class="mb-3">
          <label for="email" class="form-label" id="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="form.email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label" id="pass">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="form.password"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!loginForm.valid"
        >
          <span>Login</span>
        </button>
      </form>
      <br />
      <span style="color: white">Need an account? <a routerLink="/signup">Register</a></span>
      <br />
      <br />
      <div class="alert alert-danger" role="alert" [hidden]="!error">
        {{ error }}
      </div>
    </div>
  </div>
</div>
