.card{
    height: 100vh;


}
.card-header{
    border-style: none;
}
form{
    position: relative;

}

form input{
    width: 100%;
    padding: 23px 15px 7px;
}
form label#email{
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 12px;
    color: black;
 }
form label#pass{
    position: absolute;
    left: 15px;
    top: 75px;
    font-size: 12px;
    color: black;
 }


 form input:focus{
    border: 2px solid blueviolet;
 }

 form input:focus ~ label{
    top: 6px;
 }
 h6{
    color: white;
    top: 5rem;
 }
 button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 30px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }
@media (max-width: 750px){
    .card{
        font-size: 10px;
    }
    .form-control{
        min-height: 5vh;
        width: 100%;
    }
    .btn{
        min-height: 5vh;
        font-size: 10px;
    }
    
}