<div class="container1 d-flex align-items-end flex-column">
  <div class="card bg-dark">
    <div class="card-header">
      <img src="../../../assets/images/bsulogo.png" style="width:20%; height:auto; max-width:300px;"/>
      <br />
      <br />
      <h6 class="p-2">Log-In</h6>
    </div>
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
   
        <div class="mb-3">
          <label for="email" class="form-label" id="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="form.email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label" id="pass">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="form.password"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!loginForm.valid"
        >
          Log-In
        </button>
      </form>
      <br />
      <span>Need an account? <a routerLink="/signup">Register</a></span>
      <br />
      <br />
      <div class="alert alert-danger" role="alert" [hidden]="!error">
        {{ error }}
      </div>
    </div>
  </div>
</div>
