<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">

    <div class="page-title-container">
      <h3>Partners Management</h3>
      <button class="btn btn-primary">Add Partner</button>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="card-body">
          <div class="label-container">
            <div>
              <small>Status: Expired</small>
            </div>
            <div>
              <label class="title">White House</label>
            </div>
            <div>
              <button class="btn btn-primary">Manage</button>
            </div>
          </div>
          <div class="img-container">
            <img src="#" alt="partner banner or cover image">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="label-container">
            <div>
              <small>Status: On-Going</small>
            </div>
            <div>
              <label class="title">Vanguard</label>
            </div>
            <div>
              <button class="btn btn-primary">Manage</button>
            </div>
          </div>
          <div class="img-container">
            <img src="#" alt="partner banner or cover image">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="label-container">
            <div>
              <small>Status: Expired</small>
            </div>
            <div>
              <label class="title">Robinson</label>
            </div>
            <div>
              <button class="btn btn-primary">Manage</button>
            </div>
          </div>
          <div class="img-container">
            <img src="#" alt="partner banner or cover image">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="label-container">
            <div>
              <small>Status: On-Going</small>
            </div>
            <div>
              <label class="title">Black Rock</label>
            </div>
            <div>
              <button class="btn btn-primary">Manage</button>
            </div>
          </div>
          <div class="img-container">
            <img src="#" alt="partner banner or cover image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
