<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container" *ngFor="let partner of partners">
    <div class="title-container">
      <button
        type="button"
        class="btn btn-outline-primary"
        routerLink="/dashboard/program/2"
      >
        Back
      </button>
      <h3>Partner Details</h3>
    </div>

    <form>
      <br />
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Partner Name"
          value="{{ partner.name }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Partner Address"
          value="{{ partner.address }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="contact-person">Contact Person</label>
        <input
          type="text"
          class="form-control"
          id="contact-person"
          placeholder="Partner Contact Person"
          value="{{ partner.contactPerson }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="contact-number">Contact Number</label>
        <input
          type="tel"
          class="form-control"
          id="contact-number"
          placeholder="Partner Contact Number"
          value="{{ partner.contactNumber }}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="moa-file">MOA File</label>
        <div class="file-container">
          <h4>{{ partner.MoaFile }}</h4>
          <button type="button" class="btn btn-primary">Download</button>
          <button type="button" class="btn btn-primary">Print</button>
        </div>
      </div>
      <br />
      <div class="date-container">
        <label>Partnership Start Date: </label>
        <div class="form-group">
          <p>|{{ partner.startPartnership }}</p>
        </div>
      </div>
      <div class="date-container">
        <label>Partnership Expiration Date: </label>
        <div class="form-group">
          <p>|{{ partner.endPartnership }}</p>
        </div>
      </div>
      <br />
      <div class="button-container">
        <button type="submit" class="btn btn-primary">Renew</button>
      </div>
    </form>
  </div>
</div>
