<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
    <div class="title-container">
      <button type="button" class="btn btn-outline-primary" (click)="goBack()">
        Back
      </button>
      <h3>Partner Details</h3>
    </div>

    <form #partnerForm="ngForm" (ngSubmit)="editPartner()">
      <br />
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Partner Name"
          [(ngModel)]="form.name"
          required
        />
      </div>
      <br />
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          placeholder="Partner Address"
          [(ngModel)]="form.address"
          required
        />
      </div>
      <br />
      <div class="form-group">
        <label for="contact-person">Contact Person</label>
        <input
          type="text"
          class="form-control"
          id="contactPerson"
          name="contactPerson"
          placeholder="Partner Contact Person"
          [(ngModel)]="form.contactPerson"
          required
        />
      </div>
      <br />
      <div class="form-group">
        <label for="contact-number">Contact Number</label>
        <input
          type="tel"
          class="form-control"
          id="contactNumber"
          name="contactNumber"
          placeholder="Partner Contact Number"
          [(ngModel)]="form.contactNumber"
          required
        />
      </div>
      <br />
      <div class="form-group">
        <label for="moa-file">MOA File</label>
        <div class="file-container">
          <input
            type="file"
            class="form-control"
            id="MoaFile"
            name="MoaFile"
            [(ngModel)]="form.MoaFile"
            required
            (change)="onFileChange($event)"
          />
        </div>
      </div>
      <br />
      <div class="date-container">
        <label>Partnership Start Date: </label>
        <div class="form-group"></div>
        <input
          type="date"
          class="form-control"
          id="startPartnership"
          name="startPartnership"
          [(ngModel)]="form.startPartnership"
          required
        />
      </div>
      <div class="date-container">
        <label>Partnership Expiration Date: </label>
        <div class="form-group"></div>
        <input
          type="date"
          class="form-control"
          id="endPartnership"
          name="endPartnership"
          [(ngModel)]="form.endPartnership"
          required
        />
      </div>
      <br />
      <div class="button-container">
        <button type="submit" class="btn btn-primary">Renew</button>
      </div>
    </form>
  </div>
</div>
