<div class="container1 d-flex flex-column">
  <div class="card">
    <div class="card-header">
      <br />
      <h2 class="p-2">Edit User</h2>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <form #userForm="ngForm" (ngSubmit)="editUser()">
          <div class="row">
            <div class="col mb-3">
              <label for="name" class="form-label" id="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="form.name"
                required
              />
            </div>
            <div class="alert alert-danger" role="alert" [hidden]="!error.name">
              {{ error.name }}
            </div>
            <div class="col mb-3"></div>
            <div class="mb-3">
              <label for="birth" class="form-label" id="birthday">Birthday</label>
              <input
                type="date"
                class="form-control"
                id="birthday"
                name="birthday"
                [(ngModel)]="form.birthday"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.birthday"
            >
              {{ error.birthday }}
            </div>
            <div class="mb-3">
              <label for="college" class="form-label" id="college">College</label>
              <input
                type="text"
                class="form-control"
                id="college"
                name="college"
                [(ngModel)]="form.college"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.college"
            >
              {{ error.college }}
            </div>
            <div class="mb-3">
              <label for="department" class="form-label" id="department">Department</label>
              <input
                type="text"
                class="form-control"
                id="department"
                name="department"
                [(ngModel)]="form.department"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.department"
            >
              {{ error.department }}
            </div>
            <div class="mb-3">
              <label for="email" class="form-label" id="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="form.email"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.email"
            >
              {{ error.email }}
            </div>
            <div class="col mb-3"></div>
            <div class="mb-3">
              <select
                class="form-control"
                id="status"
                name="status"
                [(ngModel)]="form.status"
                requred
              >
                <option value="pending">Pending</option>
                <option value="accepted">Accepted</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label" id="photo">Photo</label>
              <input
                type="file"
                class="form-control"
                id="photo"
                name="photo"
                [(ngModel)]="form.photo"
                required
                (change)="onFileChange($event)"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.photo"
            >
              {{ error.photo }}
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!userForm.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
