<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
<form (submit)="onSubmit()">
  <div *ngFor="let flow of flows; let i = index">
    <label>Event:</label>
    <input type="text" name="event" [(ngModel)]="flow.event" />

    <label>Remarks:</label>
    <input type="text" name="remarks" [(ngModel)]="flow.remarks" />

    <label>Time:</label>
    <input type="time" name="time" [(ngModel)]="flow.time" />

    <button type="button" (click)="removeUser(i)" *ngIf="i > 0" class="learn-more">Remove</button>
  </div>

  <button type="button" (click)="addUser()" class="learn-more" >Add Item</button>
  <button type="submit" class="learn-more" >Submit</button>
  <div class="button-container">
    <a
      (click)="cancelStep()"
      class="learn-more"
    >
      Next Step
    </a>
  </div>
  <div class="button-container">
    <a class="btn btn-secondary" (click)="home()" class="learn-more">
      Home
    </a>
  </div>
  <div class="button-container" *ngIf="router.url.includes('dashboard')">
    <a (click)="goBack()" class="learn-more">Back</a>
  </div>
</form>
  </div>
</div>
