<div class="container1 d-flex align-items-end flex-column">
  <div class="card bg-dark">
    <div class="card-header">
      <br />
      <img
        src="../../../assets/images/CICT-BSU-LOGO.png"
        style="width: 20%; height: auto; max-width: 300px"
      />
      <br />
      <h3 id="system-title"> <b>Extension Office Management</b></h3>
      <h6 class="pt-4">Registration</h6>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <form #registerForm="ngForm" (ngSubmit)="signupUser()">
          <div class="row">
            <div class="alert alert-danger" role="alert" [hidden]="!error.name">
              {{ error.name }}
            </div>
            <div class="col mb-3">
              <label for="name" class="form-label" id="name">Name :</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="form.name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="birth" class="form-label" id="birthday">Birthday :</label>
              <input
                type="date"
                class="form-control"
                id="birth"
                name="birth"
                [(ngModel)]="form.birthday"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.birthday"
            >
              {{ error.birthday }}
            </div>
            <div class="mb-3">
              <label for="college" class="form-label" id="college">College :</label>
              <input
                type="text"
                class="form-control"
                id="college"
                name="college"
                [(ngModel)]="form.college"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.college"
            >
              {{ error.college }}
            </div>
            <div class="mb-3">
              <label for="department" class="form-label" id="department">Department :</label>
              <input
                type="text"
                class="form-control"
                id="department"
                name="department"
                [(ngModel)]="form.department"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.department"
            >
              {{ error.department }}
            </div>
            <div class="mb-3">
              <label for="email" class="form-label" id="email">Email address :</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="form.email"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.email"
            >
              {{ error.email }}
            </div>
            <div class="mb-3">
              <label for="password" class="form-label" id="pass">Password :</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="form.password"
                required
              />
            </div>
            <div class="col mb-3">
              <label for="cpassword" class="form-label" id="cpass">Confirm Password :</label>
              <input
                type="password"
                class="form-control"
                id="password_confirmation"
                name="password"
                [(ngModel)]="form.password_confirmation"
                required
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.password"
            >
              {{ error.password }}
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label" id="photo">Photo :</label>
              
              <input
                type="file"
                class="form-control"
                id="photo"
                name="photo"
                [(ngModel)]="form.photo"
                required
                (change)="onFileChange($event)"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              [hidden]="!error.photo"
            >
              {{ error.photo }}
            </div>
          </div>
          <button
            type="submit"
            class=""
            [disabled]="!registerForm.valid"
          >
            <span>Submit</span>
          </button>
        </form>
        <p class="pt-1">
          Already have an account?
          <a routerLink="/login" style="color: #e2832a">Log-In</a>
        </p>
      </div>
    </div>
  </div>
</div>
